- initiatives.each do |initiative|
  %li{:class => (initiative.revoked? ? "revoked" : "")}
    - unless issue.finished?
      %span.supporter_count
        = initiative.supporter_count
    - else
      %span.positive_votes
        = initiative.positive_votes
      %span.negative_votes
        = initiative.negative_votes
    = link_to initiative.title, "https://lqpp.de/be/initiative/show/#{initiative.original_data["id"].to_s}.html"