%h2
  Issues & Initiatives
  
%ul.issue_filter
  %li= link_to "all", issues_url, :class => (params[:state].blank? ? "current" : "")
  %li= link_to_issues "new"
  %li= link_to_issues "accepted"
  %li= link_to_issues "frozen"
  %li= link_to_issues "voting"
  %li= link_to_issues "finished"
  %li= link_to_issues "cancelled"

%table.issues
  %tr
    %th Issue
    %th Population
    %th Initiatives
    %th Area Name
    
  - @issues.each do |issue|
    %tr
      %td.issue
        = link_to "#"+issue.original_id.to_s, "https://lqpp.de/be/issue/show/#{issue.original_id.to_s}.html"
        - if params[:state].blank?
          %br
          %span.state= issue.state
      %td= issue.population
      %td.initiatives
        %ul
          - issue.initiatives_by_supporters.each do |initiative|
            %li{:class => (initiative.revoked? ? "revoked" : "")}
              - unless issue.finished?
                %span.supporter_count
                  = initiative.supporter_count
              - else
                %span.positive_votes
                  = initiative.positive_votes
                %span.negative_votes
                  = initiative.negative_votes
              = link_to initiative.title, "https://lqpp.de/be/initiative/show/#{initiative.original_data["id"].to_s}.html"
      %td.area= issue.area